<div class="container">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="row">
        <div class="col col-sm-8"><h5>{{title | translate}} 
          <strong>{{update.businessUnit}} - {{update.month | monthName}}, {{update.year}}</strong></h5></div>
      </div>
    </div>
    <div class="content">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="alert alert-dismissible alert-warning" ng-if="hasChanged()">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>{{'DATA_HAS_CHANGED' | translate}}</h4>
            <a ng-click="reset()" class="alert-link">Wish to RESET?</a>
          </div>  
          <tabset>
            <tab heading="{{'FOCUS_AREA' | translate}}">
              <focus-areas 
              items="update.focusAreas" 
              options="{delete:true, edit:true, add:true}"
              on-add="onAddFocusArea(focusArea)"
              on-edit="onEditFocusArea(index, focusArea)"
              on-delete="onDeleteFocusArea(index)">
            </focus-areas> 
          </tab>
          <tab heading="{{'KEY_INITIATIVES' | translate}}">
            <activities
              items="update.activities"
              options="{delete:true, edit:true, add:true}"
              on-add="onAddActivity(activity)"
              on-edit="onEditActivity(index, activity)"
              on-delete="onDeleteActivity(index)"> 
            </activities>
          </tab>
          <tab heading="{{'PRODUCT_RELEASES' | translate}}"> 
            <product-releases
              items="update.releases"
              options="{delete:true, edit:true, add:true}"
              on-add="onAddRelease(release)"
              on-edit="onEditRelease(index, release)"
              on-delete="onDeleteRelease(index)">
            </product-releases>
          </tab>
          <tab heading="{{'COMPLETION_REPORTS' | translate}}">
            <completion-reports 
              items="update.completionReports"
              options="{delete:true, edit:true, add:true}"
              on-add="onAddReport(report)"
              on-edit="onEditReport(index, report)"
              on-delete="onDeleteReport(index)">
            </completion-reports>
          </tab>
        </tabset>          
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col text-right">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!hasChanged()" ng-click="save(id)">{{'SAVE' | translate}}</button>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>      
  </div>
</div>
</div>