<div class="row">
    <div class="col col-lg-12 pull-right">
        <div class="row tool-box">
            <div class="col col-lg-4">
                <div class="form-group">
                    <label for="businessUnit" class="control-label">{{'BUSINESS_UNIT' | translate}}</label>   
                    <ui-select ng-model="vm.businessUnit.selected"
                        theme="bootstrap"
                        ng-disabled="disabled"
                        reset-search-input="true"
                        style="width:300px"
                        title="Choose a Business Unit">
                        <ui-select-match placeholder="Enter Name...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="businessUnit in businessUnits"
                            refresh="vm.refreshBusinessUnits($select.search)"
                            refresh-delay="0">
                            <div ng-bind-html="businessUnit.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col col-lg-1">
                <div class="form-group">
                    <label for="period" class="control-label">{{'YEAR' | translate}}</label>
                    <div>
                        <select class="form-control" ng-model="vm.year" ng-options="y for y in vm.years">
                            <option></option>
                        </select>
                    </div>
                </div>                        
            </div>
            <div class="col col-lg-1">
                <div class="form-group">
                    <label for="period" class="control-label">{{'MONTH' | translate}}</label>
                    <div>
                        <select class="form-control" ng-model="vm.month"
                            ng-options="month.value as month.name for month in vm.months">
                            <option></option>
                        </select>
                    </div>
                </div>                            
            </div>
            <div class="col col-lg-6 text-right">
                <a class="btn btn-default btn-sm" ng-click="vm.apply()">{{'APPLY' | translate}}</a>
                <a class="btn btn-default btn-sm" ng-click="vm.reset()">{{'RESET' | translate}}</a>
            </div>
        </div>
    </div>
</div>