<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h5>{{'UPDATE_INITIATIVE' | translate}}</h5>
        </div>
        <div class="panel-body">
         <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
                    <div class="row">  
                        <div class="col-sm-4"><strong>{{'BUSINESS_UNIT' | translate}}</strong></div>
                        <div class="col-sm-8">{{initiative.businessUnit}}</div>
                    </div>
                    <div class="row">          
                        <div class="col-sm-4"><strong>{{'YEAR' | translate}}</strong></div>
                        <div class="col-sm-8">{{initiative.year}}</div>
                    </div>
                    <div class="row">          
                        <div class="col-sm-4"><strong>{{'MONTH' | translate}}</strong></div>
                        <div class="col-sm-8">{{initiative.month | monthName}}</div>
                    </div>
            </div>
            <div class="bs-component">
                <form class="form-horizontal well bs-component">
                    <fieldset>
                        <legend>{{'INITIATIVES' | translate}}</legend>
                    </fieldset>
                    <div class="form-group" ng-repeat="i in initiative.initiatives track by $index">
                      <label  class="col-lg-2 control-label">{{$index + 1}}</label>
                      <div class="col-lg-10">
                        <input type="text" ng-model="initiative.initiatives[$index]" class="form-control">
                      </div>
                    </div>
                </form>
            </div>
            </div>
          </div>
        </div>        
        <div class="panel-footer">
            <div class="row">
                <div class="col text-right">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="reset" class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
                            <button type="submit" class="btn btn-primary" ng-click="save()">{{'SAVE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>