<div class="container">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="row">
        <div class="col col-sm-8"><h5>{{title | translate}} 
          <strong>{{update.businessUnit}} - {{update.month | monthName}}, {{update.year}}</strong></h5></div>
      </div>
    </div>
    <div class="content">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="alert alert-dismissible alert-warning" ng-if="hasChanged()">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>{{'DATA_HAS_CHANGED' | translate}}</h4>
            <a ng-click="reset()" class="alert-link">Wish to RESET?</a>
          </div>
         <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
                    <div class="row">  
                        <div class="col-sm-4"><strong>{{'BUSINESS_UNIT' | translate}}</strong></div>
                        <div class="col-sm-8">{{update.businessUnit}}</div>
                    </div>
                    <div class="row">          
                        <div class="col-sm-4"><strong>{{'YEAR' | translate}}</strong></div>
                        <div class="col-sm-8">{{update.year}}</div>
                    </div>
                    <div class="row">          
                        <div class="col-sm-4"><strong>{{'MONTH' | translate}}</strong></div>
                        <div class="col-sm-8">{{update.month | monthName}}</div>
                    </div>
            </div>
            <div class="bs-component">
                <form class="form-horizontal well bs-component">
                    <fieldset>
                        <legend>{{'INITIATIVES' | translate}}</legend>
                    </fieldset>
                    <div class="form-group" ng-repeat="i in update.initiatives track by $index">
                      <label  class="col-lg-2 control-label">{{$index + 1}}</label>
                      <div class="col-lg-10">
                        <input type="text" ng-model="update.initiatives[$index]" class="form-control">
                      </div>
                    </div>
                </form>
            </div>
            </div>
          </div>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col text-right">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
                <button type="submit" class="btn btn-primary" ng-click="save(id)">{{'SAVE' | translate}}</button>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>      
  </div>
</div>
</div>