<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
        <h4 class="modal-title">{{'CREATE_NEW_OPPORTUNITY' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="opportunityForm" novalidate>        
            <div class="form-group">
                <label class="col-lg-2 control-label">{{'YEAR' | translate}}</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="opportunity.year" ng-options="y for y in years">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">{{'MONTH' | translate}}</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="opportunity.month" 
                     ng-options="month.value as month.name for month in months">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': opportunityForm.staff.$invalid && opportunityForm.staff.$dirty }">
                <label class="col-lg-2 control-label">{{'SALES_PERSON' | translate}}</label>
                <div class="col-lg-10">
                <ui-select ng-model="opportunity.staff.selected"
                    theme="bootstrap"
                    name="staff"
                    ng-disabled="disabled"
                    reset-search-input="true"
                    style="width:100%"
                    title="Choose Staff">
                    <ui-select-match placeholder="Enter Name...">{{$select.selected.fullname}}</ui-select-match>
                    <ui-select-choices repeat="staff in staffs"
                        refresh="refreshStaff($select.search)"
                        refresh-delay="0">
                        <div ng-bind-html="staff.fullname | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> {{'NO_RESULTS_FOUND' | translate}}
                    </div>
                    <div class="help-block" 
                        ng-messages="opportunityForm.staff.$error">
                        <div ng-message="required">{{'STAFF_REQUIRED' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': opportunityForm.product.$invalid && opportunityForm.product.$dirty }">
                <label class="col-lg-2 control-label">{{'PRODUCT' | translate}}</label>
                <div class="col-lg-10">
                <ui-select ng-model="opportunity.product.selected"
                    theme="bootstrap"
                    name="staff"
                    ng-disabled="disabled"
                    reset-search-input="true"
                    style="width:100%"
                    title="Choose Staff">
                    <ui-select-match placeholder="Enter Name...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="product in products"
                        refresh="refreshProducts($select.search)"
                        refresh-delay="0">
                        <div ng-bind-html="product.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                    <i ng-show="loadingProducts" class="glyphicon glyphicon-refresh">
                    </i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphiconremove"></i> {{'NO_RESULTS_FOUND' | translate}}
                    </div>
                    <div class="help-block" 
                        ng-messages="opportunityForm.product.$error">
                        <div ng-message="required">{{'PRODUCT_REQUIRED' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label">{{'PROSPECT' | translate}}</label>
                <div class="col-lg-10">
                    <input type="text" name="prospect" placeholder="{{'ENTER_PROSPECT' | translate}}" class="form-control" ng-model="opportunity.prospect" required>
                    <div class="help-block" 
                        ng-messages="opportunityForm.prospect.$error">
                        <div ng-message="required">{{'PROSPECT_REQUIRED' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">{{'POTENTIAL' | translate}}</label>
                <div class="col-lg-10">
                    <input type="number" placeholder="{{'ENTER_POTENTIAL' | translate}}" name="potential" class="form-control" ng-model="opportunity.potential" required>
                    <div class="help-block" 
                        ng-messages="opportunityForm.potential.$error">
                        <div ng-message="required">{{'POTENTIAL_REQUIRED' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">{{'STATUS' | translate}}</label>
                <div class="col-lg-10">
                    <select class="form-control" placeholder="{{'SELECT_STATUS' | translate}}" ng-model="opportunity.status" ng-options="s for s in statuses">
                    </select>
                </div>
            </div>   
         <div class="form-group">
                <label class="col-lg-2 control-label">{{'TARGET_CLOSURE_DATE' | translate}}</label>
                <div class="col-lg-10">
                    <p class="input-group">
                      <input type="text" name="targetDate" ng-model="opportunity.targetDate" placeholder="{{'ENTER_TARGET_DATE' | translate}}" class="form-control" datepicker-popup="{{format}}" ng-model="opportunity.targetDate" is-open="targetDateCtrl.status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="{{'CLOSE' | translate}}" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="targetDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div> 
        </form>        
    </div>
    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">{{'CLOSE' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'CREATE' | translate}}</button>
    </div>
</div>
