<div class="container">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="row">
        <div class="col col-sm-8"><h5>{{'OPPORTUNITIES' | translate}}</h5></div>
        <div class="col col-sm-4 text-right">
          <a class="btn btn-default btn-sm" ng-click="openCreateModal('lg')"> {{'ADD_NEW' | translate}} </a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="panel panel-default">
        <div class="panel-heading">
            <search-bar on-change="searchChanged(search)"></search-bar>
        </div>
        <div class="panel-body">
            <ng-include src="template.noRecords"></ng-include>
            <table class="table table-striped table-compact table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'SALES_PERSON' | translate}}</th>
                    <th>{{'BUSINESS_UNIT' | translate}}</th>
                    <th>{{'YEAR' | translate}}</th>
                    <th>{{'MONTH' | translate}}</th>
                    <th>{{'PROSPECT' | translate}}</th>
                    <th>{{'PRODUCT' | translate}}</th>
                    <th>{{'POTENTIAL' | translate}}</th>
                    <th>{{'STATUS' | translate}}</th>
                    <th>{{'TARGET_CLOSURE_DATE' | translate}}</th>
                    <th>{{'LAST_UPDATED' | translate}}</th>
                    <th>{{'ACTION' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in items | itemsPerPage: itemsPerPage" 
                    total-items="totalItems" 
                    current-page="pagination.current">
                    <td></td>
                    <td>{{item.staff}}</td>
                    <td>{{item.businessUnit}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.month | monthName}}</td>
                    <td>{{item.prospect}}</td>
                    <td>{{item.product}}</td>
                    <td>{{item.potential}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.targetDate | appDate}}</td>
                    <td>{{item.updatedAt | appDate}}</td>
                    <td><a class="btn btn-link btn-sm" ng-click="edit(item._id)">{{'EDIT' | translate}}</a></td>
                </tr>
            </tbody>
        </table>
            <div class="row">
            <div class="col-sm-12 text-right">
                <dir-pagination-controls 
                    on-page-change="pageChanged(newPageNumber)" 
                    auto-hide=true
                    boundary-links=true
                    direction-links=true class="pagination pagination-sm">
                </dir-pagination-controls>
            </div>
            </div>          
        </div>
      </div>
    </div>
  </div>
</div>