<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
            <div class="col col-sm-8"><h5>{{'OPPORTUNITIES' | translate}}</h5></div>
            <div class="col col-sm-4 text-right">
            <a class="btn btn-link" ng-click="openCreateModal('lg')"> {{'ADD_NEW' | translate}} </a>
            </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'SALES_PERSON' | translate}}</th>
                    <th>{{'BUSINESS_UNIT' | translate}}</th>
                    <th>{{'YEAR' | translate}}</th>
                    <th>{{'MONTH' | translate}}</th>
                    <th>{{'PROSPECT' | translate}}</th>
                    <th>{{'PRODUCT' | translate}}</th>
                    <th>{{'POTENTIAL' | translate}}</th>
                    <th>{{'TARGET_CLOSURE_DATE' | translate}}</th>
                    <th>{{'LAST_UPDATED' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in items | itemsPerPage: itemsPerPage" 
                    total-items="totalItems" 
                    current-page="pagination.current"
                    ng-click="editOpportunity(item.id)">
                    <td></td>
                    <td>{{item.salesPerson}}</td>
                    <td>{{item.businessUnit}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.month}}</td>
                    <td>{{item.prospect}}</td>
                    <td>{{item.product}}</td>
                    <td>{{item.potential}}</td>
                    <td>{{item.targetDate | appDate}}</td>
                    <td>{{item.lastUpdated}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 text-right">
                <dir-pagination-controls 
                    on-page-change="pageChanged(newPageNumber)" 
                    auto-hide=true
                    boundary-links=true
                    direction-links=true class="pagination pagination-sm">
                </dir-pagination-controls>
            </div>
        </div>
      </div>
    </div>
</div>