<div class="container">
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>New Sales Update</h5>
          </div>
          <div class="ibox-content">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-lg-3">
                  <label for="period" class="col-lg-2 control-label">Year</label>
                  <div class="col-lg-10">
                    <select class="form-control" ng-model="salesUpdate.year" ng-options="y for y in years">
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label for="period" class="col-lg-2 control-label">Month</label>
                  <div class="col-lg-10">
                    <select class="form-control" ng-model="salesUpdate.month" ng-options="m for m in months">
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">  
                  <label for="businessUnit" class="col-lg-2 control-label">Business Unit</label>
                  <div class="col-lg-10">
                    <input type="text" 
                    ng-model="salesUpdate.businessUnit" 
                    placeholder="Select Business Unit" 
                    typeahead="businessUnit.name for businessUnit in refreshBusinessUnits($viewValue)" 
                    typeahead-loading="loadingBusinessUnits" 
                    typeahead-no-results="noResults"
                    typeahead-on-select="setSelectedBusinessUnit($item)"
                    class="form-control">
                    <i ng-show="loadingBusinessUnits" class="glyphicon glyphicon-refresh">
                    </i>
                    <div ng-show="noResults">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <tabset>
              <tab heading="Focus Area">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                      <div class="pull-right">
                        <button class="btn btn-link" ng-click="openFocusAreaModal(lg)">Add
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="list-group">
                        <a ng-repeat="focusArea in salesUpdate.focusAreas" class="list-group-item">
                          <h4 class="list-group-item-heading">{{focusArea.salesPerson}}</h4>
                          <p class="list-group-item-text" ng-bind-html="focusArea.updateHtml"></p>
                          <p class="list-group-item-test">
                            <span ng-repeat="tag in focusArea.tags" class="label label-default">{{tag.text}}</span>
                          </p>
                        </a>
                    </div>
                   </div> 
                  </div>  
                </div>
              </tab>
              <tab heading="New Opportunities">
                <div ng-if="salesUpdate.newOpportunities.length === 0" class="well">
                  No records yet, please create
                </div>
              </tab>
              <tab heading="Opportunity Status">Opportunity Status</tab>
              <tab heading="Pipeline Status">Pipeline Status</tab>
              <tab heading="Engineering Activities">Engineering Activities</tab>
            </tabset>
            <div class="row">
              <div class="col text-right">
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>