<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
    <h4 class="modal-title">Opportunity Status</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Prospect</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="opportunity.prospect" placeholder="Prospect">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Sales Person</label>
        <div class="col-lg-10">
            <input type="text" 
            ng-model="opportunity.salesPerson" 
            placeholder="Select Sales Person" 
            typeahead="salesPerson.name for salesPerson in refreshSalesPerson($viewValue)" 
            typeahead-loading="loadingSalesPerson" 
            typeahead-no-results="noResults"
            class="form-control">
            <i ng-show="loadingSalesPersons" class="glyphicon glyphicon-refresh">
            </i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Product</label>
        <div class="col-lg-10">
            <input type="text" 
            ng-model="opportunity.product" 
            placeholder="Select Product" 
            typeahead="product.name for product in refreshProduct($viewValue)" 
            typeahead-loading="loadingProducts" 
            typeahead-no-results="noResults"
            class="form-control">
            <i ng-show="loadingProducts" class="glyphicon glyphicon-refresh">
            </i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>
        <div class="col-lg-10">
            <select class="form-control" placeholder="Status" ng-model="opportunity.status" ng-options="s for s in status">
                <option value="" disabled selected>Status</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Potential $</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="opportunity.potential" placeholder="Potential in USD">
        </div>
    </div> 
        <div class="form-group">
        <label class="col-lg-2 control-label">Current Status</label>
        <div class="col-lg-10">
            <select class="form-control" placeholder="Status" ng-model="opportunity.currentStatus" ng-options="s for s in status">
                <option value="" disabled selected>Status</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Remarks</label>
        <div class="col-lg-10">
            <textarea class="form-control" ng-model="opportunity.remarks" rows="3" id="textArea"></textarea>
            <span class="help-block">Please enter remarks related to current status here.</span>
        </div>    
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Target Closure Date</label>
        <div class="col-lg-10">
            <p class="input-group">
                <input type="text" ng-model="opportunity.targetDate" placeholder="Target Date" class="form-control" datepicker-popup ng-model="opportunity.targetDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Add</button>
</div>
