<div ng-if="isAuthenticated()">
    <div class="container">
        <div class="content-wrapper">
            <div class="content-header">
                <div class="row">
                    <div class="col col-sm-8"><h5>{{'DASHBOARD' | translate}}</h5></div>
                    <form class="form-horizontal form-default">
                        <div class="col-lg-2 pull-right">
                            <select class="form-control form-default" ng-model="year" ng-options="y for y in years" ng-change="refresh()">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-lg-2 pull-right">
                            <select class="form-control" ng-model="month" ng-options="m.value as m.name for m in months" ng-change="refresh()">
                                <option></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <!-- Key Metrics -->
                    <div class="col-sm-8">
                        <div ng-repeat="item in items">
                            <div class="panel panel-default" ng-repeat="(key, value) in item">
                                <div class="panel-heading" >
                                    <h5>{{'KEY_METRICS' | translate}} - {{key}}</h5>
                                </div>
                                <div class="panel-body">
                                    <nvd3 options='chartOptions' data='value'></nvd3>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>{{'PARAMETER' | translate}}</th>
                                                <th class="center" ng-repeat="item in range"
                                               ng-class="{true:'text-primary', false: 'text-muted'}[canEdit(item.year, item.month)]"
                                                >{{item.month | monthName}}-{{item.year}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="param in value" ng-if="value.length > 0">
                                                <td> {{param.name}}</td>
                                                
                                                <td class="center" ng-repeat="value in param.values">
                                                    <span class="text-muted">{{value.value || '-'}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>    
                            </div>
                        </div>
                    </div>
                    <!-- End Opportunities -->
                    
                    <!-- Detailed Report-->
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{'DETAILED_REPORTS' | translate}}</h5>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                <div ng-repeat="businessUnit in businessUnits" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <strong>{{businessUnit.name}}</strong>
                                    <span><a ng-click="openReport(businessUnit._id, year, month, businessUnit)" class="btn btn-link btn-sm pull-right text-right">{{'VIEW' | translate}}</a></span>
                                </div>
                            </div>
                            </div>    
                        </div>
                    </div>
                    <!-- End Detailed Report-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-grid"></i> Insight </h2>
      To continue, please log in with your account</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <!--<a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>-->
      </p>
    </div>
</div>