<div ng-if="isAuthenticated()">
    <div class="container">
        <div class="content-wrapper">
            <div class="content-header">
                <div class="row">
                    <div class="col col-sm-8"><h5>{{'DASHBOARD' | translate}}</h5></div>
                    <form class="form-horizontal form-default">
                        <div class="col-lg-2 pull-right">
                            <select class="form-control form-default" ng-model="year" ng-options="y for y in years" ng-change="refresh()">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-lg-2 pull-right">
                            <select class="form-control" ng-model="month" ng-options="m.value as m.name for m in months" ng-change="refresh()">
                                <option></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <!-- Opportunities -->
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{'OPPORTUNITIES' | translate}}</h5>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat = "opportunity in opportunities">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <dl class="dl-horizontal">
                                                <dt>{{'BUSINESS_UNIT' | translate}}</dt>
                                                <dd>{{opportunity.businessUnit}}</dd>
                                                <dt>{{'PRODUCT' | translate}}</dt>
                                                <dd>{{opportunity.product}}</dd>
                                                <dt>{{'POTENTIAL' | translate}}</dt>
                                                <dd>{{opportunity.potential}}</dd>            
                                                <dt>{{'PROSPECT' | translate}}</dt>
                                                <dd>{{opportunity.prospect}}</dd>
                                                <dt>{{'SALES_PERSON' | translate}}</dt>
                                                <dd>{{opportunity.staff}}</dd>
                                                <dt>{{'CREATED' | translate}}</dt>
                                                <dd>{{opportunity.createdAt | appDate}}</dd>
                                                <dt>{{'UPDATED' | translate}}</dt>
                                                <dd>{{opportunity.updatedAt | appDate}}</dd>
                                            </dl>
                                        </div>
                                        <div class="col-sm-6" ng-if="opportunity.statusUpdates.length > 0">
                                            <h6>{{'STATUS' | translate}}</h6>
                                            <div class="row" ng-repeat="update in opportunity.statusUpdates">
                                                <div class="col-sm-4">{{update.updatedAt | fromNow}}</div>
                                                <div class="col-sm-2">{{update.status}}</div>
                                                <div class="col-sm-6">{{update.remarks}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <!-- End Opportunities -->
                    
                    <!-- Detailed Report-->
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{'DETAILED_REPORTS' | translate}}</h5>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                <div ng-repeat="businessUnit in businessUnits" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <strong>{{businessUnit.name}}</strong>
                                    <span><a ng-click="openReport(businessUnit._id, year, month, businessUnit)" class="btn btn-link btn-sm pull-right text-right">{{'VIEW' | translate}}</a></span>
                                </div>
                            </div>
                            </div>    
                        </div>
                    </div>
                    <!-- End Detailed Report-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-grid"></i> Insight </h2>
      To continue, please log in with your account</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <!--<a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>-->
      </p>
    </div>
</div>