<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'FOCUS_AREAS' | translate}}
      </div>
      <div class="panel-body">
            <focus-areas items="salesUpdate.focusAreas"></focus-areas>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'ACTIVITIES' | translate}}
      </div>
      <div class="panel-body">
        <activities items="salesUpdate.activities"></activities>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'OPPORTUNITIES' | translate}}
      </div>
      <div class="panel-body">
        <div class="bs-component">
          <div class="row" ng-repeat="opportunity in opportunities">
            <div class="col col-sm-12">
              <div class="row">
                <div class="col col-lg-6"> 
                  <div class="row">          
                    <div class="col-sm-4"><strong>{{'PROSPECT' | translate}}</strong></div>
                    <div class="col-sm-8">{{opportunity.prospect}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4"><strong>{{'PRODUCT' | translate}}</strong></div>
                    <div class="col-sm-8">{{opportunity.product}}</div>
                  </div>
                  <div class="row">          
                    <div class="col-sm-4"><strong>{{'POTENTIAL' | translate}}</strong></div>
                    <div class="col-sm-8">{{opportunity.potential}}</div>
                  </div>          
                  <div class="row">
                    <div class="col-sm-4"><strong>{{'STATUS' | translate}}</strong></div>
                    <div class="col-sm-8">{{opportunity.status}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4"><strong>{{'TARGET_CLOSURE_DATE' | translate}}</strong></div>
                    <div class="col-sm-8">{{opportunity.targetDate | appDate}}</div>
                  </div>
                </div>
                <div class="col col-lg-6">
                  <div class-"row">
                    <strong>{{'STATUS_UPDATES' | translate}}</strong>
                    <div ng-repeat="statusUpdate in opportunity.statusUpdates">
                      <div class="col-sm-4">{{statusUpdate.updatedAt | appDate}}</div>
                      <div class="col-sm-2">{{statusUpdate.status}}</div>
                      <div class="col-sm-6">{{statusUpdate.remarks}}</div>
                    </div>
                  </div>                    
                </div>
              </div>
              <hr>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>