<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
        <h4 class="modal-title">{{'CREATE_NEW_MARKETING_UPDATE' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newMarketingUpdateForm" novalidate>        
            <div class="form-group">
                <label for="period" class="col-lg-2 control-label">{{'YEAR' | translate}}</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="newMarketingUpdate.year" ng-options="y for y in years">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="period" class="col-lg-2 control-label">{{'MONTH' | translate}}</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="newMarketingUpdate.month" 
                        ng-options="month.value as month.name for month in months">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group has-feedback" 
                 ng-class="{ 'has-error': newMarketingUpdateForm.businessUnit.$invalid && newMarketingUpdateForm.businessUnit.$dirty }">
                <label for="businessUnit" class="col-lg-2 control-label">{{'BUSINESS_UNIT' | translate}}</label>
                <div class="col-lg-10">
                    <input type="text"
                    name="businessUnit"
                    ng-model="newMarketingUpdate.businessUnit" 
                    placeholder="{{'SELECT_BUSINESS_UNIT' | translate}}" 
                    typeahead="businessUnit.name for businessUnit in refreshBusinessUnits($viewValue)" 
                    typeahead-loading="loadingBusinessUnits" 
                    typeahead-no-results="noResults"
                    typeahead-on-select="setSelectedBusinessUnit($item)"
                    typeahead-editable=false
                    class="form-control"
                    required>
                    <i ng-show="loadingBusinessUnits" class="glyphicon glyphicon-refresh">
                    </i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> {{'NO_RESULTS_FOUND' | translate}}
                    </div>
                    <div class="help-block" 
                        ng-messages="newMarketingUpdateForm.businessUnit.$error">
                        <div ng-message="required">{{'BUSINESS_UNIT_REQUIRED' | translate}}</div>
                        <div ng-message="validity">{{'SELECT_VALID_BUSINESS_UNIT' | translate}}</div>
                    </div>
                </div>
            </div> 
        </form>        
    </div>
    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">{{'CLOSE' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'CREATE' | translate}}</button>
    </div>
</div>
