<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h5>{{'SALES_UPDATES' | translate}} - {{salesUpdate.businessUnit}} - {{salesUpdate.month}}, {{salesUpdate.year}}
      </div>
      <div class="panel-body">
        <tabset>
          <tab heading="{{'FOCUS_AREA' | translate}}">
            <div class="panel panel-default extra-padding">
              <div class="panel-body">
                <div class="row">
                  <div class="pull-right">
                    <button class="btn btn-link" ng-click="openFocusAreaModal('lg')">
                      {{'ADD' | translate}}
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="list-group">
                    <a ng-repeat="focusArea in salesUpdate.focusAreas" class="list-group-item">
                      <h4 class="list-group-item-heading">{{focusArea.salesPerson}}</h4>
                      <p class="list-group-item-text" ng-bind-html="focusArea.activityHtml"></p>
                      <p class="list-group-item-test">
                        <span ng-repeat="area in focusArea.areas" class="label label-success">{{area.text}}
                        </span>
                      </p>
                    </a>
                  </div>
                </div> 
              </div>  
            </div>
          </tab>
          <tab heading="{{'SALES_ENGINEERING_ACTIVITIES' | translate}}">
            <div class="panel panel-default extra-padding">
              <div class="panel-body">
                <div class="row">
                  <div class="pull-right">
                    <button class="btn btn-link" ng-click="openSalesEngineeringActivityModal('lg')">
                      {{'ADD' | translate}}
                    </button>
                  </div>    
                </div>
                <div class="row">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>{{'SALES_PERSON' | translate}}</th>
                        <th>{{'ACTIVITY' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="activity in salesUpdate.salesEngineeringActivities">
                        <td>{{activity.salesPerson}}</td>
                        <td>{{activity.activity}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="row">
          <div class="col text-right">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
                <button type="submit" class="btn btn-primary">{{'SAVE' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>