<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
    <h4 class="modal-title">{{title | translate }}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">{{'STAFF' | translate}}</label>
        <div class="col-lg-10">
            <ui-select ng-model="activity.staff.selected"
                theme="bootstrap"
                name="staff"
                ng-disabled="disabled"
                reset-search-input="true"
                style="width:100%"
                title="Choose Staff">
                <ui-select-match placeholder="Enter Name...">{{$select.selected.fullname}}</ui-select-match>
                <ui-select-choices repeat="staff in staffs"
                    refresh="refreshStaff($select.search)"
                    refresh-delay="0">
                    <div ng-bind-html="staff.fullname | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Activity</label>
        <div class="col-lg-10">
            <textarea class="form-control" ng-model="activity.activity" rows="3" id="textArea"></textarea>
            <span class="help-block">{{'ENTER_ACTIVITY_HELP_TEXT' | translate}}</span>
        </div>    
    </div>
    </form>  
</div>
<br>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">{{'CLOSE' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{'DONE' | translate}}</button>
</div>
</div>
